In [10]:
import pandas as pd
# Read CSV with comma separator 
Input = r"D:\20240125\123-2.Sample.ASC"
df = pd.read_csv(Input, delimiter="\t", decimal=",", skiprows= 90, names = ["wavelength", "reflectance"])
df

      wavelength  reflectance
0         2500.0    -163.6991
1         2499.0    -102.5790
2         2498.0     -95.6990
3         2497.0     -74.2983
4         2496.0     -97.8197
...          ...          ...
2246       254.0       5.9756
2247       253.0       6.0188
2248       252.0       6.0147
2249       251.0       6.0651
2250       250.0       6.0755

[2251 rows x 2 columns]